.card {
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    background-color: #fff;
    min-width: 145px;
    border-radius: 20px;
    padding: 15px;

    span {
        display: block;
        margin-bottom: 9px;
    }

    img {
        object-fit: cover;
    }
}

.btns {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;

    svg {
        cursor: pointer;
    }
        
}

form {
    padding: 15px;
    border-radius: 15px;
    background-color: #fff;
     
    h3 {
        margin-bottom: 10px;
    }

    .author { 
        margin-bottom: 10px;
    
        label {
            margin-right: 36px;
        }
    
        input { 
            padding: 5px;
            outline: none;
        }
    }
    
    .title { 
        margin-bottom: 10px;
    
        label {
            margin-right: 15px;
        }
    
        input { 
            padding: 5px;
            outline: none;
        }
    }

    .formBtn {
        padding: 5px;
        display: block;
        margin-top: 10px;
        cursor: pointer;
    }

    .imgForm {
        object-fit: cover;
    }
 }